*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
font-family: 'Roboto', sans-serif;
}

@media screen {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-0 {width: 4.16%;}
[class*="col-"] {
    float: left;
    padding: 25px;
    /*border: 1px dashed rgba(255,0,0,0.3);*/
    height:100%;
    /*display: inline-block;*/
}
#white{
  height:16%;
  width:100%;
  background-color: white;
  position:fixed;
  margin-top: -5%;
  z-index: 499;
}
#chinesediv{
  width:83.33%;
  transform:translateY(80%);
}
#chinese{
  text-align: center;
  font-size: 4em;
  font-weight: bold;
}
.bgimg{
  background-image: url('img/heart.gif');
}

/* .topbar */

.topbar a{
  font-weight: 700;
  font-size: 200%;
  text-decoration: none;
  color:black;
  position: fixed;
  z-index: 500;
  transform: translateY(-70%);
}

#haitong{
  border-bottom: 4px solid #0000ff;
}
#haitong:hover{
  border-bottom: 4px solid red;
}

.topbar a:hover{
  border-bottom: 4px solid red;
  cursor:pointer;
}
#home{
  margin-left: 25%;
}
#trip{
  background-color: black;
  color:white;
}
.gifs img{
  float: left;
}
#gif1{
    width: 1em;
}
#gif2{
    width: 1em;
}
.gifs a:hover{
  border: none;
}
.gifs img:hover{
-webkit-filter: drop-shadow(0px 0px 3px blue);
filter: drop-shadow(0px 0px 3px blue);
}
#headimg{
  width:100%;
  margin-top: -2%;
  height: 100%;
  padding-bottom: 0;
}



.worktitle{
  color:black;
  font-weight: 400;
  font-size:300%;
  margin-top: 2%;
  width: 83.33%;
}
.year{
  color:blue;
  font-weight: 400;
  font-size:120%;
  margin-bottom: 1%;
  width: 16.66%;
  transform: translateY(2%);
}


#tags a{
  font-weight: 400;
  font-size: 120%;
  text-decoration: none;
  color:black;
  z-index: 499;
  text-align: left;
  float: left;
}
#tags a:hover{
  font-size: 130%;
  font-weight: 500;
  cursor: pointer;
  color:blue;
}
.taglist{
  border-radius: 1em;
  width: 12%;
  margin-left:87.5%;
  position: fixed;
  margin-top: 34%;
  background-color: white;
  padding-right: 15%;
}
.taglist:hover{
  margin-left:87.5%;
  position: fixed;
  margin-top: 34%;
}
.taglist li{
  list-style: none;
  line-height: 1.5;
}
#coding{
  width:1.8em;
}

.photofeed{
  padding-left: 2%;
  padding-right: 2%;
  position:relative;
  overflow:hidden;
  width:91.66%;
  height:2000px;
  transform:translateY(2%);
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  height: 94vh;
  position: relative;
}

.work{
  position:absolute;

}
.row1,.row2,.row3,.row4{
  height:11%;
  width: 91.66%;
  display: inline-block;
}
img{
  margin-bottom: 1%;
  width: 16.66%;
  display: block;
}


#work1, #work7,#work11{
  transform:translateX(16.66%);
}
#work2, #work6, #work12{
  transform:translateX(33.33%);
}
#work3, #work9, #work13{
  transform:translateX(50%);
}
#work4,#work8,#work19{
  transform:translateX(67.66%);
}
#work4{
    transform:translateX(86%);
}




/*@media screen and (max-width: 1000px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 25px;
    border: 1px dashed rgba(255,0,0,0.3);
    display: inline-block;
}*/
