*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
@font-face {
    font-family: SportingGrotesque-Regular;
    src: url("type/SportingGrotesque-Regular.otf") format("opentype");
    font-family: SportingGrotesque-Bold;
    src: url("type/SportingGrotesque-Bold.otf") format("opentype");
}
body{
font-family: 'Roboto', sans-serif;
}

@media screen {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-0 {width: 4.16%;}
[class*="col-"] {
    float: left;
    padding: 25px;
    /*border: 1px dashed rgba(255,0,0,0.3);*/
    height:100%;
    /*display: inline-block;*/
}
#white{
  height:16%;
  width:100%;
  background-color: white;
  position:fixed;
  margin-top: -5%;
  z-index: 499;
}
#chinesediv{
  width:83.33%;
  transform:translateY(80%);
}
#chinese{
  text-align: center;
  font-size: 4em;
  font-weight: bold;
}
.bgimg{
  background-image: url('img/heart.gif');
}

/* .topbar */

.topbar a{
  font-family: 'SportingGrotesque-Bold', sans-serif;
  font-weight: 700;
  font-size: 200%;
  text-decoration: none;
  color:black;
  position: fixed;
  z-index: 500;
  transform: translateY(-70%);
}

#haitong{
  border-bottom: 5px solid #0000ff;
  height: 7%;
}
#haitong:hover{
  border-bottom: 5px solid red;
}

.topbar a:hover{
  border-bottom: 5px solid red;
  cursor:pointer;
}
#home{
  margin-left: 25%;
  height: 7%;
}
#trip{
  height: 7%;
  background-color: black;
  color:white;
}
.gifs{
  margin-left: 2%;
}
.gifs img{
  float: left;
}
#gif1{
    margin-left: 5%;
    width: 1.2em;
}
#gif2{
    width: 1.2em;
}
.gifs a:hover{
  border: none;
}
.gifs img:hover{
-webkit-filter: drop-shadow(0px 0px 3px blue);
filter: drop-shadow(0px 0px 3px blue);
}
#headimg{
  width:100%;
  margin-top: -2%;
  height: 100%;
  padding-bottom: 0;
}





.workinfo{
  font-weight: 400;
  font-size:250%;
  width: 83.33%;
  margin-bottom: 10%;
  display: inline-block;
}

.worktitle{
  font-family: 'SportingGrotesque-Regular', sans-serif;
  color:black;
  font-weight: 400;
  font-size:280%;
  margin-top: 2%;
  width: 83.33%;
}
.year{
  font-family: 'SportingGrotesque-Regular', sans-serif;
  color:blue;
  font-weight: 400;
  font-size:200%;
  margin-top: 2%;
  width: 16.66%;
  margin-bottom: 4%;
  transform: translateY(5%);
}




#tags a{
  font-family: 'SportingGrotesque-Regular', sans-serif;
  font-size: 100%;
  text-decoration: none;
  color:black;
  z-index: 499;
  text-align: left;
  float: left;
}
#tags a:hover{
  font-size: 110%;
  font-weight: 500;
  cursor: pointer;
  color:blue;
}
.taglist{
  border-radius: 1em;
  width: 12%;
  margin-left:87.5%;
  position: fixed;
  margin-top: 35%;
  background-color: white;
  padding-right: 15%;
}
.taglist:hover{
  margin-left:86.5%;
  position: fixed;
  margin-top: 35%;
}
.taglist li{
  list-style: none;
  line-height: 1.5;
}
#coding{
  width:1.8em;
}

.photofeed{
  padding-left: 8.33%;
  padding-right: 2%;
  width:91.66%;
}
.home-photo{
 float:left;
 width:75%;
 margin-bottom: 5%;
 height: 95%;
}






.right{
  transform: translate(50%,60%);
}
button{
  border: none;
  outline:none;
  color:black;
  font-weight: 400;
  font-size:100%;
  float: right;
  transform: translateY(60%);
}
button:hover{
  color: blue;
}
.play{
  transform: translateY(160%);
  font-size: 50%;
  border-bottom: 4px solid #0000ff;
}

.play:hover{
  border-bottom: 4px solid red;
  color:black;
}


body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  height: 94vh;
  position: relative;
}
.container0, .container00,
.container1, .container2, .container3,
.container5, .container6, .container8,
.container9,.container10, .container11,
.container14,.container15,.container0 {
  display: flex;
}
.slider-wrapper0, .slider-wrapper00,
.slider-wrapper1, .slider-wrapper2,
.slider-wrapper3, .slider-wrapper5,
.slider-wrapper6, .slider-wrapper8,
.slider-wrapper9, .slider-wrapper10,
.slider-wrapper11,.slider-wrapper14,
.slider-wrapper15,.slider-wrapper0{
  width: 100%;
  overflow: hidden;
}
.inner-wrapper0, .inner-wrapper00,
.inner-wrapper1, .inner-wrapper2,
.inner-wrapper3, .inner-wrapper5,
.inner-wrapper6, .inner-wrapper8,
.inner-wrapper9, .inner-wrapper10,
.inner-wrapper11, .inner-wrapper14,
.inner-wrapper15,.inner-wrapper0{
  width: 500%;
  height: 100%;
  position: relative;
  left: -100%;
}

.slide0, .slide00,
.slide1, .slide2, .slide3, .slide5,
.slide6, .slide8, .slide9, .slide10,
.slide11,.slide14,.slide15,.slide0 {
  width: calc(100% / 5);
  float: left;
  display: flex;
  justify-content: left;
  align-items: left;
}


#clink{
  color: blue;
}

#finger{
  width: 1.5em;
  margin-right: .5em;
}


/* @media screen and (max-width: 500px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.photofeed{
    width: 91.66%;
    display: flex;
    flex-wrap: wrap;
}
.work{
    width: 91.66%;
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    display: inline-block;
} */
