*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
font-family: 'Roboto', sans-serif;
}

@media screen {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-0 {width: 4.16%;}
[class*="col-"] {
    float: left;
    padding: 25px;
    /*border: 1px dashed rgba(255,0,0,0.3);*/
    height:100%;
    /*display: inline-block;*/
}
#chinesediv{
  width:83.33%;
  transform:translateY(80%);
}
#chinese{
  text-align: center;
  font-size: 4em;
  font-weight: bold;
}
.bgimg{
  background-image: url('img/heart.gif');
}

.bgwhite{
  background-color:white;
}

.topbar a{
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  color:black;
  position: fixed;
  z-index: 500;
}

#haitong{
  border-bottom: 4px solid #0000ff;
}
#haitong:hover{
  border-bottom: 4px solid red;
}

.topbar a:hover{
  border-bottom: 4px solid red;
  cursor:pointer;
}
#home{
  margin-left: 25%;
}
#trip{
  background-color: black;
  color:white;
}
.gifs img{
  float: left;
}
#gif1{
    width: 1.2em;
}
#gif2{
    width: 1em;
}
.gifs a:hover{
  border: none;
}
.gifs img:hover{
-webkit-filter: drop-shadow(0px 0px 3px blue);
filter: drop-shadow(0px 0px 3px blue);
}
.photofeed{
  padding-left: 2%;
  padding-right: 2%;
  position:relative;
  overflow:hidden;
  width:91.66%;
  height:2000px;
  transform:translateY(3%);
}

.work{
  position:absolute;
  display:block;
}
.row1{
  height:20%;
  width: 91.66%;
}
.row1 img{
  margin-bottom: 1%;
  width: 16.66%;
}
.home-photo:hover{
  cursor:pointer;
}
.workinfo{
  font-weight: 500;
  font-size:1em;
  width: 16.66%;
}
.worktitle{
  font-weight: 900;
  font-size:3em;
  margin-top: 2%;
  width: 16.66%;
  word-wrap: break-word;
}
#work15{
  transform:translateX(16.66%);
}


.row2{
  height:20%;
  width: 91.66%;
}
.row2 img{
  margin-bottom: 1%;
  width: 16.66%;
}
.row3{
  height:20%;
  width: 91.66%;
}
.row3 img{
  margin-bottom: 1%;
  width: 16.66%;
}
#tags a{
  font-weight: 300;
  font-size: .5em;
  text-decoration: none;
  color:black;
  z-index: 499;
  text-align: left;
  float: left;
}
#tags a:hover{
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 0px 2px blue);
  filter: drop-shadow(0px 0px 2px blue);
}
.taglist{
  margin-left:91.66%;
  position: fixed;
  margin-top: 10%;
}
.taglist:hover{
  background-color: white;
  padding-left: 1%;
}
.taglist li{
  list-style: none;
    line-height: 1em;
}
#unicorn, #coding, #lisa{
  width:3em;
}

}
/*@media screen and (max-width: 1000px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 25px;
    border: 1px dashed rgba(255,0,0,0.3);
    display: inline-block;
}*/
